@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide the default scrollbar */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

/* Style the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;;
}